body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  margin: 2em 2em
}

header {
  margin: 2em
}

header a{
  border: 1px solid black;
  text-decoration: none;
  margin: 1em 1em;
  background-color: rgba(202, 196, 196, 0.842);
  color: white
}

.searchField {
  margin: 2em
}

div > p {
  margin: 2em
}

span {
  color: blue;
}

.details {
  padding: 1em
}

p > span {
  color: black
}